.num-donations, .rating{
    font-family: 'ImperialScript-Regular';
    font-style: normal;
    font-weight: 400;
    font-size: 4rem;
    line-height: 163px;
    color: #000000;
}

.learn-more * {
    font-weight: 400;
}