.logout{
    position: absolute;
    bottom: 10px;
}
/* Sidebar */
nav.sidebar {
    height: 60vh;
    top: 15vh;
    background: #ffffff;
    font-family: "Poppins", sans-serif;
    font-weight: normal;
    padding: 0;
    width: 236px;
    z-index: 11;
    transition: width 0.25s ease, background 0.25s ease;
    -webkit-transition: width 0.25s ease, background 0.25s ease;
    -moz-transition: width 0.25s ease, background 0.25s ease;
    -ms-transition: width 0.25s ease, background 0.25s ease;
    box-shadow: 0 5px 10px 0 rgba(230, 230, 243, 0.88);
    -webkit-box-shadow: 0 5px 10px 0 rgba(230, 230, 243, 0.88);
    -moz-box-shadow: 0 5px 10px 0 rgba(230, 230, 243, 0.88);
    -ms-box-shadow: 0 5px 10px 0 rgba(230, 230, 243, 0.88);
    margin-left: 0.5rem;
    margin-bottom: 2.062rem;
    border-radius: 6px;
    border: 1px solid #e4e4f4;
  }
  
  .sidebar .nav {
    overflow: hidden;
    flex-wrap: nowrap;
    flex-direction: column;
    margin-bottom: 60px;
  }
  
  .sidebar .nav .nav-item {
    -webkit-transition-duration: 0.25s;
    -moz-transition-duration: 0.25s;
    -o-transition-duration: 0.25s;
    transition-duration: 0.25s;
    transition-property: background;
    -webkit-transition-property: background;
  }
  
  .sidebar .nav .nav-item .collapse {
    z-index: 999;
  }
  
  .sidebar .nav .nav-item .nav-link {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    white-space: nowrap;
    padding: 0.87rem 0.875rem 0.87rem 0.6rem;
    color: #001737;
    -webkit-transition-duration: 0.45s;
    -moz-transition-duration: 0.45s;
    -o-transition-duration: 0.45s;
    transition-duration: 0.45s;
    transition-property: color;
    -webkit-transition-property: color;
  }
  
  .sidebar .nav .nav-item .nav-link i {
    color: inherit;
  }
  
  .sidebar .nav .nav-item .nav-link i.menu-icon {
    font-size: 1.215rem;
    line-height: 1;
    margin-right: .75rem;
    color: #6c7293;
  }
  
  .rtl .sidebar .nav .nav-item .nav-link i.menu-icon {
    margin-left: 2rem;
    margin-right: 0;
  }
  
  .sidebar .nav .nav-item .nav-link i.menu-icon:before {
    vertical-align: middle;
  }
  
  .sidebar .nav .nav-item .nav-link i.menu-arrow {
    display: inline-block;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    margin-left: auto;
    margin-right: 0;
    color: #686868;
  }
  
  .rtl .sidebar .nav .nav-item .nav-link i.menu-arrow {
    margin-left: 0;
    margin-right: auto;
  }
  
  .sidebar .nav .nav-item .nav-link i.menu-arrow:before {
    content: "\e0cf";
    font-family: "typicons";
    font-style: normal;
    display: block;
    font-size: 1rem;
    line-height: 10px;
    -webkit-transition: all 0.2s ease-in;
    -moz-transition: all 0.2s ease-in;
    -ms-transition: all 0.2s ease-in;
    -o-transition: all 0.2s ease-in;
    transition: all 0.2s ease-in;
  }
  
  .sidebar .nav .nav-item .nav-link .menu-title {
    color: inherit;
    display: inline-block;
    font-size: 0.875rem;
    line-height: 1;
    vertical-align: middle;
  }
  
  .sidebar .nav .nav-item .nav-link .badge {
    margin-left: auto;
  }
  
  .rtl .sidebar .nav .nav-item .nav-link .badge {
    margin-left: 0;
    margin-right: auto;
  }
  
  .sidebar .nav .nav-item .nav-link[aria-expanded="true"] i.menu-arrow:before {
    content: "\e0bd";
  }
  
  .sidebar .nav .nav-item.active > .nav-link {
    position: relative;
  }
  
  .sidebar .nav .nav-item.active > .nav-link i,
  .sidebar .nav .nav-item.active > .nav-link .menu-title,
  .sidebar .nav .nav-item.active > .nav-link .menu-arrow {
    color: #fff;
  }
  
  .sidebar .nav:not(.sub-menu) {
    margin-top: 1rem;
    margin-left: 1.3rem;
    margin-right: 1.25rem;
  }
  
  .sidebar .nav:not(.sub-menu) > .nav-item {
    margin-top: 0;
  }
  
  .sidebar .nav:not(.sub-menu) > .nav-item > .nav-link {
    margin: 0;
  }
  
  .sidebar .nav-item:hover,
   .sidebar .nav-item.active, 
   .sidebar .nav-item:hover .nav-link,
   .sidebar .nav-item.active .nav-link {
    background-color: #071D57 !important;
    color: white;
  }
  
  
  /* style for off-canvas menu*/
  @media screen and (max-width: 991px) {
    .sidebar-offcanvas {
      position: fixed;
      max-height: calc(100vh - 4.625rem);
      top: 4.625rem;
      bottom: 0;
      overflow: auto;
      right: -236px;
      -webkit-transition: all 0.25s ease-out;
      -o-transition: all 0.25s ease-out;
      transition: all 0.25s ease-out;
    }
    .sidebar-offcanvas.active {
      right: 0;
    }
  }