.header{
  font-family: "Montserrat";
  color: #071d57;
}
@media (max-width: 575.98px) { 
  .question-box h3, .question-box h4{
    font-size: calc(.7rem + 0.3vw)
  }
  
  .question-box p{
    font-size: calc(.4rem + 0.4vw)
  }
}

@media (min-width: 576px) and (max-width: 767.98px) { 
  .question-box h3, .question-box h4{
    font-size: calc(.8rem + 0.3vw)
  }
  
  .question-box p{
    font-size: calc(.5rem + 0.4vw)
  }
}

@media (min-width: 768px) and (max-width: 1199.98px) { 
  .question-box h3, .question-box h4{
    font-size: calc(1rem + 0.3vw)
  }
  
  .question-box p{
    font-size: calc(.5rem + 0.4vw)
  }
}