.header{
  font-family: "Montserrat";
  color: #071d57;
}

.faq-bg {
  background-size: 100% 150%;
  background-repeat: no-repeat;
  background-position: center;
}

.question-box h3, .question-box h4{
  font-size: 2vw;
}

.question-box p{
  font-size: 1.2vw;
}