.header{
  font-family: "Montserrat";
  color: #071d57;
}

.faq-bg {
  background-size: cover;
  background-position: top -65px center;
}

.question-box h3, .question-box h4{
  font-size: 2vw;
}

.question-box p{
  font-size: 1.2vw;
}

.faq-page .bg-white{
  width: 70vw;
  height: 100%;
}