.hero-div .text-div{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    position: absolute;
    z-index: 3;
}

.alma-mater-text {
    height: 1rem;
    font-family: "Montserrat";
    font-style: normal;
    font-weight: 400;
    line-height: 1.2rem;
    color: #F5F5F5;
    font-size: 1rem;
    text-align: left;
}

.hero-div p{
    color: white;
    text-align: left;
    font-size: 0.8rem;
    margin-top: 28px;
}

.hero-div button{
    background: white;
    outline: 0px;
    border: 0px;
    border-radius: 4px;
    font-size: 0.6rem;
    margin-left: 0px;
}

// Our Mission
.our-mission{
    padding: 20px;
    background-color: #838EAB80;
    
    h2, h3, h5{
        color: #071D57;
    }
    .mission-number{
        border-radius: 50%;
        padding: 15px;
        background: #071D57;
        color: white;
    }
    .mission-text{
        margin-top: 30px;
        border: 1px solid #071D57;
        padding: 14%;
        color: #071D57;
        background: #F5F5F5;
        height: 14rem;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    button.learn-more{
        width: auto;
        border: none;
        color: white;
        background: #071D57;
        outline: none;
        border-radius: 3px;
    }
    strong{
        height: 10px;
        width: 0.1rem;
        margin: 5px;
        background: #071D57;
        border-radius: 50%;
    }
    .testimonial .box{
        color: #071D57;
        padding: 20px;
        background: #F5F5F5;
        position: relative;

        img{
            position: relative;
            bottom: 10% !important;
        }
    }
}

.make-a-difference{
    color:#071D57;
    
    .font-bold{
        font-weight: bold;
    }
}
