.signup{
    color: #071D57;
    background: #F5F5F5;
    outline: #F5F5F5;
}

.signin{
    background: #071D57;
    color: #F5F5F5;
    outline: #071D57;
}

.signin,.signup{
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
}