.signin,.signup{
    outline: none;
    border-radius: 5px;
    margin-bottom: 32px;
}

.signup{
    color: #071D57;
    background: #F5F5F5;
    outline: #F5F5F5;
    width: inherit;
    margin-left: -80px;
}

.signin{
    background: #071D57;
    color: #F5F5F5;
    outline: #071D57;
    width:inherit;
}

.nav-link-button{
    width: 6rem;
}