.sign-in{
    .login-button{
        outline: none;
        width: 100%;
        background: #071D57;
        color: white;
        border: none;
        border-radius: 5px;
        padding: 10px;
    }
}