.App {
  text-align: center;
  height: 100%;
  width: 100%;
}

.site-text-color{
  color: #071D57
}

.site-bg-color{
  background-color: #071D57 !important;
}

.page-content{
  margin-top: 7rem !important;
}