.App, .app-body {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.site-text-color{
  color: #071D57
}

.site-bg-color{
  background-color: #071D57 !important;
}

.page-content{
  margin-top: 20vh !important;
}