.App, .app-body {
  text-align: center;
  height: auto;
  width: 100%;
  min-height: 100vh;
}

.site-text-color{
  color: #071D57
}

.site-text-grey{
  color: rgba(0, 0, 0, 0.55);
}

.site-bg-grey{
  background: rgba(0, 0, 0, 0.55);
}

.fs-7{
  font-size: 0.7rem !important;
}

.site-bg-color{
  background-color: #071D57 !important;
}

.page-content{
  margin-top: 20vh !important;
}